input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/***********登录页开始***********/
.login-body {
    background: url(../imgs/login_bg.jpg) center center no-repeat;
}

.login-body .login-box {
    position: fixed;
    top: 48%;
    left: 50%;
    width: 322px;
    height: 310px;
    margin-left: -161px;
    margin-top: -175px;
}

.login-body .login-box .logo {
    width: 321px;
    height: 25px;
    margin: 0 auto;
    background: url(../imgs/logo.png) center center no-repeat;
}

.login-body .login-box .input-box {
    width: 302px;
    height: 270px;
    padding-top: 48px;
    margin: 15px auto 0 auto;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 1px 1px #666;
}

.login-body .login-box .username-box, .login-body .login-box .password-box {
    width: 220px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
}

.login-body .login-box .login-btn-box {
    padding: 10px 0 20px 0;
    position: relative;
}

.login-body .login-box .login-info {
    position: absolute;
    bottom: 3px;
    left: 41px;
    color: red;
    font-size: 12px;
}

.login-body .login-box .login-info.hide {
    display: none;
}

.login-body .login-box input {
    width: 100%;
    padding: 9px 0 9px 30px;
    border-radius: 4px;
}

.login-body .login-box .username-box input {
    background: url(../imgs/user_icon.png) 6px 10px no-repeat #fff;
}

.login-body .login-box .password-box input {
    background: url(../imgs/password_icon.png) 9px 11px no-repeat #fff;
}

.login-body .login-box .btn-login {
    outline: none;
    display: block;
    width: 220px;
    height: 48px;
    line-height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 auto;
    background-color: #069309;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.login-body .login-box .btn-login:hover {
    background-color: #027d05;
}

.login-body .login-box .forgetps {
    float: right;
    color: #00aaee;
    margin-top: 10px;
    margin-right: 50px;
    cursor: pointer;
}

/***********登录页结束***********/
/***********用户中心开始***********/
/*左侧菜单样式开始*/
.center-body .left-menu {
    color: #fff;
    height: 100%;
    background-color: #1a8673;
    position: relative;
}

.center-body .left-menu .mouse-menu {
    display: none;
    position: absolute;
    left: 50px;
    top: 0;
    width: 140px;
    background-color: #29323c;
}

.center-body .left-menu .mouse-menu h3 {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-weight: normal;
    font-size: 14px;
    background-color: #17a28a;
    border-bottom: 1px solid #1cd5b5;
}

.center-body .left-menu .mouse-menu h3.selected {
    background-color: #1cd5b5;
}

.center-body .left-menu .mouse-menu p {
    height: 36px;
    line-height: 36px;
    padding-left: 18px;
    font-size: 12px;
    cursor: pointer;
    border-top: 1px solid #243135;
}

.center-body .left-menu .mouse-menu p:first-child {
    border-top: none;
}

.center-body .left-menu .mouse-menu p:hover, .center-body .left-menu .mouse-menu p.active {
    background-color: #1a212b;
}

.center-body .left-menu .ctrl {
    height: 30px;
    text-align: center;
    background-color: #186b5d;
}

.center-body .left-menu .ctrl > i {
    position: relative;
    top: 10px;
    display: block;
    width: 15px;
    height: 12px;
    background: url(../imgs/icon_ctrl.png) no-repeat;
    cursor: pointer;
    margin: 0 auto;
}

.center-body .left-menu .ctrl > i.shou {
    top: 8px;
    background: url(../imgs/icon_ctrl_shou.png) no-repeat;
    width: 18px;
    height: 15px;
}

.center-body .left-menu > dl {
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #1cd5b5;
    background-color: #17a28a;
    transition: height 0.3s;
}

.center-body .left-menu > dl:hover {
    background-color: #149881;
}

.center-body .left-menu > dl.index-menu.active {
    height: 76px;
}

.center-body .left-menu > dl.quality-analysis.active {
    height: 294px;
}

.center-body .left-menu > dl.work-efficiency.active {
    height: 222px;
}

.center-body .left-menu > dl.insurance-fee.active {
    height: 222px;
}

.center-body .left-menu > dl.system-manger.active {
    height: 184px;
}

.center-body .left-menu > dl.volume-analysis.active {
    height: 258px;
}

.center-body .left-menu > dl.volume-allocation.active {
    height: 148px;
}

.center-body .left-menu > dl.medical-analysis.active {
    height: 222px;
}

.center-body .left-menu > dl.medicalcare-income.active {
    height: 258px;
}

.center-body .left-menu > dl.hospital-sense.active {
    height: 258px;
}

.center-body .left-menu > dl > dt {
    position: relative;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 50px;
    cursor: pointer;
}

.center-body .left-menu > dl.index-menu > dt {
    background: url(../imgs/home_icon.png) 17px 11px no-repeat;
}

.center-body .left-menu > dl.quality-analysis > dt {
    background: url(../imgs/quality_icon.png) 18px 8px no-repeat;
}

.center-body .left-menu > dl.work-efficiency > dt {
    background: url(../imgs/efficiency_icon.png) 16px 9px no-repeat;
}

.center-body .left-menu > dl.insurance-fee > dt {
    background: url(../imgs/fee_icon.png) 18px 9px no-repeat;
}

.center-body .left-menu > dl.volume-analysis > dt {
    background: url(../imgs/volumeanalysis_icon.png) 17px 9px no-repeat;
}

.center-body .left-menu > dl.volume-allocation > dt {
    background: url(../imgs/volumeallocation_icon.png) 17px 11px no-repeat;
}

.center-body .left-menu > dl.medical-analysis > dt {
    background: url(../imgs/medical_icon.png) 17px 9px no-repeat;
}

.center-body .left-menu > dl.medicalcare-income > dt {
    background: url(../imgs/income_icon.png) 17px 11px no-repeat;
}

.center-body .left-menu > dl.hospital-sense > dt {
    background: url(../imgs/sense_icon.png) 17px 9px no-repeat;
}

.center-body .left-menu > dl.selected > dt, .center-body .left-menu > dl.selected > dt:hover {
    background-color: #1cd5b5;
}

.center-body .left-menu > dl > dt > i {
    position: absolute;
    width: 7px;
    height: 10px;
    top: 16px;
    right: 12px;
    background: url(../imgs/right.png) center center no-repeat;
}

.center-body .left-menu > dl.active > dt > i {
    width: 9px;
    height: 6px;
    top: 18px;
    right: 12px;
    background: url(../imgs/down.png) center center no-repeat;
}

.center-body .left-menu > dl > dd {
    width: 180px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    padding-left: 25px;
    cursor: pointer;
    background-color: #2c3540;
    border-top: 1px solid #243135;
}

.center-body .left-menu > dl > dd:first-child {
    border-top: none;
}

.center-body .left-menu > dl > dd:hover, .center-body .left-menu > dl > dd.active {
    background-color: #1a212b;
}

/*左侧菜单样式结束*/
/*后台中心头部样式开始*/
.center-body .header {
    height: 100%;
    background: url(../imgs/logo2.png) 12px center no-repeat #1cd5b5;
    color: #fff;
}

.center-body .header .options {
    float: right;
    height: 100%;
    padding-right: 20px;
}

.center-body .header .options .userinfo {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    margin-left: 3px;
    height: 100%;
    position: relative;
    background: url(../imgs/white_angle.png) no-repeat 90px 25px;
    cursor: pointer;
}

.center-body .header .options .userinfo > img {
    width: 26px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 13px;
    display: inline-block;
    vertical-align: top;
}

.center-body .header .options .userinfo > ul {
    display: none;
    position: absolute;
    width: 100%;
    top: 53px;
    left: 0;
    border-top: 1px solid #1cd5b5;
}

.center-body .header .options .userinfo:hover {
    background-color: #18c8aa;
}

.center-body .header .options .userinfo:hover > ul {
    display: block;
}

.center-body .header .options .userinfo > ul a {
    display: block;
    border-bottom: 1px solid #1cd5b5;
    padding: 8px 0 8px 46px;
}

.center-body .header .options .userinfo > ul .systemmsg {
    background: url(../imgs/mail_icon.png) 13px 10px no-repeat #18c8aa;
    position: relative;
}

.center-body .header .options .userinfo > ul .systemmsg .msgnums {
    position: absolute;
    left: 22px;
    top: 3px;
    background-color: #ff9c00;
    font-size: 12px;
    padding: 0px 2px;
    border-radius: 4px;
    font-style: normal;
}

.center-body .header .options .userinfo > ul .usermsg {
    background: url(../imgs/usermsg_icon.png) 13px 10px no-repeat #18c8aa;
}

.center-body .header .options .userinfo > ul .logout {
    background: url(../imgs/logout_icon.png) 14px 7px no-repeat #18c8aa;
}

.center-body .header .options .userinfo > ul .logout:focus, .center-body .header .options .userinfo > ul .logout:active, .center-body .header .options .userinfo > ul .logout:link, .center-body .header .options .userinfo > ul .logout:visited {
    color: #fff;
    text-decoration: none;
}

.center-body .header .options .userinfo > ul a:hover {
    background-color: #14bea1;
}

.center-body .header .options .username {
    font-size: 14px;
    margin-top: 16px;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
}

/*后台中心头部样式结束*/
/***********用户中心结束***********/
/*项目首页-首页样式开始*/
.index-body .index-title {
    margin: 10px 10px 0 10px;
    padding: 3px 0 3px 3px;
    border-bottom: 1px solid green;
    border-left: 3px solid green;
    font-size: 16px;
}

.index-body .index-title a {
    color: #0a4494;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px;
}

.index-body .welcome {
    font-size: 16px;
    padding-left: 10px;
    padding-top: 10px;
}

.index-body .m-chart-box.short {
    width: 31.7%;
    margin-left: 1.2%;
}

.index-body .m-chart-box .m-panel {
    border: none;
}

.index-body .m-chart-box .m-panel h3 {
    background-color: #37d07d;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
}
.index-body .m-chart-box.style01 .m-panel h3{
    background-color: #9052c3;
}
.index-body .m-chart-box.style02 .m-panel h3{
    background-color: #5358c3;
}
.index-body .m-chart-box.style03 .m-panel h3{
    background-color: #519ef2;
}

.index-body .m-chart-box .m-panel li {
    font-size: 16px;
}

.index-body .m-chart-box .m-panel li span.color-red {
    color: #ff0000;
    margin-left: 3px;
}

.index-body .m-chart-box .m-panel li span.flag-down {
    padding-right: 15px;
    background: url("../imgs/arraw_down_small.png") no-repeat right center;
}

.index-body .m-chart-box .m-panel li span.flag-up {
    padding-right: 15px;
    background: url("../imgs/arraw_up_small.png") no-repeat right center;
}

/*项目首页-首页样式结束*/
/*任务管理-任务管理样式开始*/

/*任务管理-任务管理样式结束*/
